html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
}

h1, h2, h3 {
    color: #bb1b47;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    font-size: 3rem;
}